html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    padding-top: 20px;
    color: white;
    background-color: #6c757d;
}

h1 {
    text-align: center;
    background-color: beige;
}

#nombre {
    text-align: left;
    margin-left: 10px;
    font-size: xx-large;
}

#init {
    margin-left: 50px;
}

#barra {
    background-color: #6c757d;
    justify-content: center;
}

#Bloque {
    padding: 50px;
    padding-bottom: 70px;
    background-color: beige;
}

#flex1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#flex2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#flex3 {
    display: flex;
    justify-content: end;
}

#flex4 {
    background-color: beige;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#fotop {
    justify-content: start;
    width: 200px;
    height: auto;
    text-align: center;
    margin-top: 40px;
}

#fotoa {
    justify-content: start;
    width: 100px;
    height: auto;
    text-align: center;
    margin-top: 40px;
}

#thistorial {
    text-align: left;
    padding-top: 70px;
    padding-left: 40px;
    font-weight: bold;
}

li {
    list-style: none;
}

.navbar-nav {
    color: white;
}

.nav-link {
    color: white;
    font-weight: bold;
}

.navbar-nav .nav-link:hover {
    color: black;
}

#historial-academico {
    background-color: #6c757d;
    padding-top: 30px;
    padding-left: 100px;
}

h3 {
    margin: 110px;
    color: white;
}

#cv-ti {
    text-align: center;
}

#contacto {
    background-color: beige;
    display: flex;
    justify-content: center;
    font-size: xx-large;
}

#foto {
    width: 50px;
}

#pporta {
    background-color: #6c757d;
    text-align: center;
    padding: 10px;
}

#Portafolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #6c757d;
}

footer {
    font-size: large;
    text-align: center;
    background-color: #6c757d;
    padding: 15px;
}


#flex2 a {
    margin: 10px;
}

#flex2 img {
    max-width: 100px;
    height: auto;
}


@media (max-width: 768px) {
    #nombre {
        text-align: center;
    }

    #flex1 {
        flex-direction: column;
        align-items: flex-start;
    }

    #flex2 {
        flex-direction: row;
    }

    #flex3 {
        justify-content: center;
    }

    #flex4 {
        align-items: center;
    }

    #thistorial {
        padding: 0;
        text-align: center;
    }

    #historial-academico, #cv-ti {
        padding-left: 0;
    }

    h3 {
        margin: 20px;
    }

    #fotop, #fotoa {
        margin: 20px auto;
    }

    #flex2 a {
        margin: 10px auto;
    }
}
